target/
build/
prebuilds/
node_modules/
.build/
Package.resolved
_obj/
.venv/
dist/
*.egg-info
*.whl
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc
*.exp
*.lib
.zig-cache/
zig-cache/
zig-pkg/
zig-out/
/examples/*/
*.wasm
*.obj
*.o
*.tar.gz
*.tgz
*.zip
.drafts/
